@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Rubik+Scribble&display=swap');

.quadrado {
    width: 250px;
    height: 800px;
    background-color: rgb(211, 167, 100);
}
.fotoAnajulia {
border-radius: 50%;
width: 200px;
height: 190px;
position: relative;
top: 20px;
left: 20px;
}
.meucontato {
    position: relative;
    top: 20px;
    left: 20px;
}
.meucontato p {
    font-size: small;
}
.meunome {
position: relative;
top: 20px;
left: 20px;
font-size:larger;
}